@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');
body{
    margin:0;
    background-color: black;
    color:white;
}
html{
    scroll-behavior: smooth;
}

.navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:black;
}
.navbar-left
{
    padding-left:50px;
}
.logo-img
{
    height:120px;
    border-radius: 5px;
}
.navbar-right
{
padding-right:20px;
display:flex;
flex-direction:row;
align-items:center;
margin:20px 30px;
}
.a-element
{  color:#fff;
    text-decoration: none;
   padding:10px;
   margin:10px;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size:20px;
   font-weight:bold;
   position: relative;
}
.a-element::after{
    content:'';
    width:0;
    height:3px;
    background:#fc8eac;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s
}
.a-element:hover::after{
    width:100%;
}
.home
{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    height:85vh;    
}
.home-left{
    width:50vw;
    text-align:right;
    padding-left:20px;
}
.home-right{
    width:30vw;
    height:50%;
    padding-right:100px;
    border-radius: 15px;   
}
.home-h1
{
    font-family: 'Montserrat', sans-serif;
    font-size:70px;
}
.home-h1 span{
    color:#fc8eac;
}
.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    height:85vh;
    margin:180px 130px;
    border-radius:15px;
}
.about-col-2{
    
    width:40vw;
    height:85%;
    text-align:left;   
}
.about-col-2 h1{
    font-size:50px;
    color:#fc8eac;
}
.about-col-2 p{
    font-family: 'Encode Sans', sans-serif;
    font-size:20px;
}
.tab-titles{
    display:flex;
    margin:30px -270px 50px;
}
.tab-links{   
    margin-left:50px;
    font-size:28px;
    font-weight:500;
    cursor:pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width:0;
    height: 3px;
    background: #fc8eac;
    position:absolute;
    left:0;
    bottom:-8px;
    transition:0.5s;
}
.clickable{
font-family: 'Montserrat', sans-serif;
cursor:pointer;
color:#fc8eac ;
}
.clickable:hover {
    color: white;
}
.tab-links.active-link::after{
    width:100%;
}
.tab-contents ul li{    
    margin:10px -250px;
    font-family: 'Encode Sans', sans-serif;
    font-size: 18px;
}
.tab-contents ul li span{
    color:#fc8eac;
    cursor:pointer;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:block;
}
#Portfolio{
    padding:300px 0;
    color:#f0e7d8;
    font-size:20px;
}
.projects{
    margin:0;
    padding:0;
    color:#fff;   
}
.projects ul li{
    font-family: 'Encode Sans', sans-serif;
    font-size: 18px;
}
.projects ul li span{
    color:#fc8eac;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.projects ul li span:hover{
    color:#a3386c;
}
hr {
    border: none;
    height: 2px;
    background-color: #ccc;
    animation: moveLine 5s linear infinite; /* Apply the animation */
    margin: 20px 100px;
  }

  @keyframes moveLine {
    0% {
      width: 0; /* Start with zero width */
      margin-left: 0; /* Start from the left */
    }
    50% {
      width: 100%; /* Move to full width at the midpoint of the animation */
      margin-left: 0; /* Stay at the left */
    }
    100% {
      width: 0; /* End with zero width */
      margin-left: 100%; /* Move to the right */
    }
  }

  .image{
    
    margin-top:-2000px;
    padding-left: 350px;
    border-radius: 50px;
   
    
  }
  .cer{
    margin-top: -200px;
    text-align:center;
    font-family: 'Ubuntu', sans-serif; 
    color:#fc8eac;
    letter-spacing:3px;
    font-size:50px;
    font-style:italic;
  }
  .gallery{
    width:900px;
    display:flex;
    overflow-x:scroll;
  }
  .gallery div{
    width:100%;
    display:grid;
    grid-template-columns:auto auto auto;
    grid-gap:10px;
    padding:20px;
    flex:none;
  }
  .gallery div img{
    width:100%;
    filter:blur(2px);
    transition: transform 0.5s;   
  }
  .gallery::-webkit-scrollbar{
    display:none;
  }
  .gallery-wrap{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:10% auto;
  }
  #backBtn,#nextBtn{
    width:50px;
    border-radius: 50px;
    cursor:pointer;
    margin:40px;
  }
  .gallery div img:hover{
    filter:blur(0);
    cursor:pointer;
    transform:scale(1.1);
  }

  .contact-container{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
  }
  .contact-left{
    display:flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;   
  }
  .contact-left-title h2{
    font-weight:600;
    color:#fc8eac;
    font-size:40px;
    margin-bottom: 5px;
  }
  .contact-left-title hr{
    border:none;
    width: 120px;
    height: 5px;
    background-color:#fc8eac;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color:#fc8eac;
    border-radius:50px;
  }
  .contact-left textarea{
    height:140px;
    padding-top: 15px;
    border-radius: 20px;   
  }
  .contact-inputs:focus{
    border:3px solid #fc8eac ;
  }
  .contact-inputs::placeholder{
    color: #a9a9a9; 
  }
  .contact-left button{
    display:flex;
    
  }
  .Contact
{
    text-align:center;
}
.contact-info
{    
    font-family: 'Montserrat', sans-serif;
    font-size:25px;
    font-style:italic;
}
.social-icon-img1
{
    height:50px;
    border-radius:50px;   
    padding:10px;
}
.social-icon-img2
{
    height:50px;
    padding:10px;
    border-radius:50px;
}
.social-icon-img3
{
    height:50px;
    padding:10px;
}
.social-icon-img4
{
    height:50px;
    padding:10px;
    border-radius:50px;
}
.ser-h1
{
    font-family: 'Ubuntu', sans-serif; 
    color:#fc8eac;
    letter-spacing:3px;
    font-size:50px;
    font-style:italic;
}
