@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');
body{
    margin:0;
    background-color: black;
    color:white;
}
html{
    scroll-behavior: smooth;
}

.navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:black;

}
.navbar-left
{
    padding-left:50px;

}
.logo-img
{
    height:120px;
    border-radius: 5px;
    

}
.navbar-right
{
padding-right:20px;
display:flex;
flex-direction:row;
align-items:center;
margin:20px 30px;

}
.a-element
{  color:#fff;
    text-decoration: none;
   padding:10px;
   margin:10px;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size:20px;
   font-weight:bold;
   position: relative;
}
.a-element::after{
    content:'';
    width:0;
    height:3px;
    background:#fc8eac;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s

}
.a-element:hover::after{
    width:100%;

}
.home
{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    height:85vh;
   
     
}
.home-left{
    width:50vw;
    text-align:right;
    padding-left:20px;

}
.home-right{
    width:30vw;
    height:50%;
    padding-right:100px;
    border-radius: 15px;
    
}
.home-h1
{
    font-family: 'Montserrat', sans-serif;
    font-size:70px;
}
.home-h1 span{
    color:#fc8eac;
}


.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    height:85vh;
    margin:180px 130px;
    border-radius:15px;
}
.about-col-2{
    
    width:35vw;
    height:65%;
    text-align:left;
    
}
.about-col-2 h1{

    font-size:50px;
    color:#fc8eac;
}
.about-col-2 p{
    font-family: 'Encode Sans', sans-serif;
    font-size:20px;
}
.tab-titles{
    display:flex;
    margin:30px -270px 50px;

}
.tab-links{
    
    margin-left:50px;
    font-size:28px;
    font-weight:500;
    cursor:pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width:0;
    height: 3px;
    background: #fc8eac;
    position:absolute;
    left:0;
    bottom:-8px;
    transition:0.5s;


}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li{
    
    margin:10px -250px;
    font-family: 'Encode Sans', sans-serif;
    font-size: 18px;
}
.tab-contents ul li span{
    color:#fc8eac;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:block;
}
#Portfolio{
    padding:50px 0;
    color:#f0e7d8;
    font-size:20px;
}
.projects{
    margin:0;
    padding:0;
    color:#fff;
    
}
.projects ul li{
    font-family: 'Encode Sans', sans-serif;
    font-size: 18px;
}
.projects ul li span{
    color:#fc8eac;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
}
.projects ul li span:hover{
    color:#a3386c;
}
hr {
    border: none;
    height: 2px;
    background-color: #ccc;
    animation: moveLine 5s linear infinite; /* Apply the animation */
    margin: 20px 100px;
  }

  @keyframes moveLine {
    0% {
      width: 0; /* Start with zero width */
      margin-left: 0; /* Start from the left */
    }
    50% {
      width: 100%; /* Move to full width at the midpoint of the animation */
      margin-left: 0; /* Stay at the left */
    }
    100% {
      width: 0; /* End with zero width */
      margin-left: 100%; /* Move to the right */
    }
  }

  .image{
    
    margin-top:-2000px;
    padding-left: 350px;
    border-radius: 50px;
   
    
  }
  .Contact
{
    text-align:center;
}
.contact-info
{
     
    font-family: 'Montserrat', sans-serif;
    font-size:25px;
    font-style:italic;
}
.social-icon-img
{
    height:50px;
    padding:10px;
}
.ser-h1
{
    font-family: 'Ubuntu', sans-serif; 
    color:#fc8eac;
    letter-spacing:3px;
    font-size:50px;
    font-style:italic;
}
